@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/* * {
  background-image: url('/textures/paper-fiber-light.png');
  background-size: auto;
  background-blend-mode: multiply;
} */
